.note-container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1600px;
}

.note-container h4{
    color: rgba(61,71,77,.5);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: normal;
    text-align: center;
    padding: 0 25px;
}

.note-container h2{
    color: var(--meister-grey900);
    font-weight: 700;
    line-height: 110%;
    font-size: 2.5rem;
    text-align: center;
    padding: 0 25px;
    padding-bottom: 1.6rem;
}

.note-container p{
    color: rgba(61,71,77,.5);
    letter-spacing: normal;
    text-align: center;
    font-size: 1.3rem;
    padding: 0 25px;
    padding-bottom: 2.5rem;
}

.wave img{
    width: 100%;
    height: auto;
}

@media(min-width:700px){
    .note-container h4{
        font-size: 2.2rem;
    }

    .note-container h2{
        font-size: 3.5rem;
    }

    .note-container p{
        padding-bottom: 1rem;
    }
}

@media(min-width:1200px){
    .note-container h4{
        font-size: 2rem;
    }

    .note-container p{
        padding: 0 6rem;
    }   
}

.main-feature__container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    max-width: 1600px;
}

.main-feature__container h4{
    color: rgba(61,71,77,.5);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: normal;
    text-align: left;
    padding: 0 25px;
}

.main-feature__container h2{
    color: var(--meister-grey900);
    font-weight: 700;
    line-height: 110%;
    font-size: 2.5rem;
    text-align: left;
    padding: 0 25px;
    padding-bottom: 1.6rem;
}

.main-feature__container p{
    color: rgba(61,71,77,.5);
    letter-spacing: normal;
    text-align: left;
    font-size: 1.3rem;
    padding: 0 25px;
    padding-bottom: 2.5rem;
    margin-bottom: 40px;
    line-height: 150%;
}

@media(min-width:700px){
    .main-feature__container h4{
        font-size: 2.2rem;
    }

    .main-feature__container h2{
        font-size: 3.5rem;
    }

    .main-feature__container p{
        padding-bottom: 1rem;
    }
}

@media(min-width:1200px){
    .main-feature__container h2{
        padding: 0 5rem;
        padding-bottom: 1.5rem;
    }
    .main-feature__container h4{
        font-size: 2rem;
        padding: 0 5rem;
    }

    .main-feature__container p{
        padding: 0 5rem;
    }   
}

.tabs-hori{
    width: 100%;
    margin: auto;
    display: block;
}

.tabs-hori a.active{
    max-width: 40%
}

.tabs-hori a:not(.active){
    overflow: hidden;
    min-width: 30px;
    margin: 0 10px;
}

.tabs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 25px;
    padding-bottom: 2rem;
}

.border{
    flex: 1;
    color: rgba(61,71,77,.5);
    font-size: 0.82rem;
    font-weight: 900;
    font-family: inherit;
}

.tabs a.border.inactive{
    color: rgba(61,71,77,.5);
}
.tabs a.border.active {
    color: #333c40;
    border-color: #0af;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

.tabs.horizontal a:first-child {
    margin-left: 0;
}

.tabs.horizontal a {
    padding: 15px 0;
    margin: 0 10px;
}

.tabs a.border {
    border-top: 4px solid #edf1f2;
}

.tabs-contents{
    padding-top: 2rem;
    width: 100%;
    margin: auto;
    max-width: 1600px;
    padding: 0 25px;
    margin-bottom: 3.8rem;
    /* padding: 0 5rem; */
}

.phone-hidden{
    display: none;
}

.box-wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2rem;
    background-color: #edf1f2;
    padding: 30px 30px 0;
}

.text-column h4{
    color: rgba(61,71,77,.5);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: normal;
    text-align: left;
    padding: 0 25px;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.text-column h2{
    color: var(--meister-grey900);
    font-weight: 700;
    line-height: 110%;
    font-size: 3rem;
    text-align: left;
    padding: 0 25px;
    padding-bottom: 1rem;
}

.text-column p{
    color: var(--meister-grey900);
    letter-spacing: normal;
    text-align: left;
    line-height: 150%;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.text-column a{
    font-weight: 500;
    color: var(--meister-blue);
}

.image-row{
    display: flex;
    padding: 30px 0px 0 10px;
}
.image-row img{
    margin-bottom: -40px;
    width: 100%;
}

.more-info__cta{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 0 25px;
    margin-bottom: 2.5rem;
}

.more-info-btn{
    font-size: 1.1rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;
    border-radius: 2.2rem;   
    background-color: #0af;
    box-shadow: 0 5px 10px -5px #0af;
    color: #fff;
    font-weight: 600;
}

.more-info-btn:hover, .more-info-btn a:hover{
    box-shadow: 0 10px 30px -5px #0af;
    color: #fff;
}

@media(min-width:700px){
    .tabs-hori{
        display: block;
    }
    .box-wrapper{
        display: flex;
        flex-direction: row;
    }

    .text-column{
        padding-bottom: 3rem;
    }

    .text-column p{
        padding: 0 25px;
    }

    .text-column a{
        padding: 0 25px;
    }

    .phone-hidden{
        display: block;
    }

    .image-row{
        align-items: flex-end;
    }

    .box-wrapper>div{
        width: 50%;
    }

    .more-info-btn{
        line-height: 4.5rem;
        height: 4.5rem;
        font-size: 1.5rem;
        padding: 0 2.5rem;
    }
}


@media(min-width:900px){
    .border{
        font-size: 1rem;
    }
}

@media(min-width:1200px){
    .tabs{
        padding: 0 5rem;
        padding-bottom: 2rem;
    }

    .tabs-contents{
        padding: 0 5rem;
    }

    .border{
        font-size: 1.2rem;
    }
}

.sub-feature__container{
    width: 100%;
    margin: auto;
    max-width: 1600px;
    padding: 5rem 0;
}

.sub-feature__text h4{
    color: rgba(61,71,77,.5);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: normal;
    text-align: left;
    padding: 0 25px;
}

.sub-feature__text h2{
    color: var(--meister-grey900);
    font-weight: 700;
    line-height: 110%;
    font-size: 2.5rem;
    text-align: left;
    padding: 0 25px;
    padding-bottom: 1.6rem;
}

.sub-feature__text p{
    color: rgba(61,71,77,.5);
    letter-spacing: normal;
    text-align: left;
    font-size: 1.3rem;
    padding: 0 25px;
    padding-bottom: 2.5rem;
    margin-bottom: 40px;
    line-height: 150%;
}

.sub-ft-img img{
    width: 100%;
    height: auto;
    max-width: 100%;
    padding: 0 25px;
}

.sub-feature__row{
    width: 100%;
    margin: auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 25px;
    padding-top: 4rem;
}

.sub-feature__col{
    margin: 1rem 0;
}

.sub-feature__col h4{
    font-size: 1.3rem;
    color: var(--meister-grey900);
    padding-bottom: 1rem;
}

.sub-feature__col .fas{
    color: var(--meister-grey500);
    font-size: 1rem;
    line-height: 150%;
}

.sub-feature__col p{
    color: var(--meister-grey500);
    font-size: 1.1rem;
    line-height: 150%;
}

.sub-feature__col .head-icon{
    font-size: 1.5rem;
    color: var(--meister-grey900);
}

@media(min-width:700px){
    .sub-feature__text h4{
        font-size: 2.2rem;
    }

    .sub-feature__text h2{
        font-size: 3.5rem;
    }

    .sub-feature__row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .sub-feature__col{
        margin: 0 1rem ;
    }

    .sub-feature__col h4{
        font-size: 1.2rem;
    }

    .sub-feature__col p{
        font-size: 1rem;
    }

    .sub-feature__col .head-icon{
        font-size: 1.3rem;
    }
}

@media(min-width:1200px){
    .sub-feature__text h2{
        padding: 0 5rem;
        padding-bottom: 1.5rem;
    }
    .sub-feature__text h4{
        font-size: 2rem;
        padding: 0 5rem;
    }

    .sub-feature__text p{
        padding: 0 5rem;
    }
    
    .sub-feature__row{
        padding: 0 5rem;
    }

    .sub-feature__col h4{
        font-size: 1.5rem;
    }

    .sub-feature__col .head-icon{
        font-size: 1.6rem;
    }
        
    .sub-feature__col p{
        font-size: 1.1rem;
        font-weight: 600;
    }
}

.main-cta__container{
    width: 100%;
    margin: auto;
    max-width: 1600px;
    padding: 5rem 0;
    background-color: #edf1f2;
}

.main-cta__text h4{
    color: rgba(61,71,77,.5);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: normal;
    text-align: center;
    padding: 0 25px;
}

.main-cta__text h2{
    color: var(--meister-grey900);
    font-weight: 800;
    line-height: 110%;
    font-size: 2.5rem;
    text-align: center;
    padding: 0 25px;
}

.btpad{
    margin-bottom: 2.5rem;
}

.main-cta{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 0 25px;
    margin-bottom: 2.5rem;
}

.main-cta-btn{
    font-size: 1.1rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;
    border-radius: 2.2rem;   
    background-color: #0af;
    box-shadow: 0 5px 10px -5px #0af;
    color: #fff;
    font-weight: 600;
}

@media(min-width:700px){
    .main-cta__text h4{
        font-size: 2.2rem;
    }

    .main-cta__text h2{
        font-size: 3.5rem;
    }

    .main-cta-btn{
        line-height: 4.5rem;
        height: 4.5rem;
        font-size: 1.5rem;
        padding: 0 2.5rem;
    }
}

@media(min-width:1200px){
    .main-cta__text h4{
        font-size: 2rem;
    } 
}

.take-action__container{
    width: 100%;
    margin: auto;
    max-width: 1600px;
    padding: 5rem 0;
    padding-bottom: 0;
}

.take-action__text h4{
    color: rgba(61,71,77,.5);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: normal;
    text-align: left;
    padding: 0 25px;
}

.take-action__text h2{
    color: var(--meister-grey900);
    font-weight: 700;
    line-height: 110%;
    font-size: 2.5rem;
    text-align: left;
    padding: 0 25px;
    padding-bottom: 1.6rem;
}

.take-action__text p{
    color: rgba(61,71,77,.5);
    letter-spacing: normal;
    text-align: left;
    font-size: 1.3rem;
    padding: 0 25px;
    padding-bottom: 2.5rem;
    margin-bottom: 40px;
    line-height: 150%;
}

@media(min-width:700px){
    .take-action__text h4{
        font-size: 2.2rem;
    }

    .take-action__text h2{
        font-size: 3.5rem;
    }
}

@media(min-width:900px){
    .take-action__text p{
        font-size: 1.35rem;
    }   
}

@media(min-width:1200px){
    .take-action__text h2{
        padding: 0 5rem;
        padding-bottom: 1.5rem;
    }
    .take-action__text h4{
        font-size: 2rem;
        padding: 0 5rem;
    }

    .take-action__text p{
        font-size: 1.3rem;
        padding: 0 5rem;
    }   
}

.bg-style__container{
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 0;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'1\' height=\'80\' viewBox=\'0 0 1 80\'%3E%3Ccircle cx=\'.5\' cy=\'60.5\' r=\'1\' fill=\'%23EDF1F2\' fill-rule=\'evenodd\'/%3E%3C/svg%3E%0A');
    background-repeat: repeat;
}

.bg-style__img{
    display: flex;
    justify-content: center;
}

.bg-style__img img{
    max-width: 90%;
    height: auto;
}

/* ---- Why Use ---- */
.why-use__container{
    padding-top: 2rem;
    width: 100%;
    margin: auto;
    max-width: 1600px;
    padding: 5rem 1.5rem;
}

.phone-hidden{
    display: none;
}

.why-use__col{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background-color: #edf1f2;
    padding: 30px 30px 0;
}

.why-use__text-col h4{
    color: rgba(61,71,77,.5);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: normal;
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.why-use__text-col h2{
    color: var(--meister-grey900);
    font-weight: 700;
    line-height: 110%;
    font-size: 2rem;
    text-align: left;
    padding-bottom: 1.5rem;
}

.why-use__text-col p{
    color: rgba(61,71,77,.5);
    letter-spacing: normal;
    text-align: left;
    line-height: 150%;
    font-size: 1.3rem;
    margin-bottom: 40px;
}

@media(min-width:700px){
    .why-use__col{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .why-use__img img{
        height: auto;
        width: 100%;
    }

    .why-use__text-col{
        padding-bottom: 3rem;
    }

    .why-use__text-col h4{
        font-size: 2rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .why-use__text-col h2{
        font-size: 3rem;
    }

    .phone-hidden{
        display: block;
    }

    .why-use__col>div{
        width: 50%;
    }
}


@media(min-width:900px){
    .why-use__col{
        justify-content: space-between;
        padding: 3rem;
    }

    .why-use__text-col h2{
        font-size: 3.7rem;
    }
}

@media(min-width:1200px){
    .why-use__container{
        padding: 5rem 5rem;
    }
}

.aux-feature__container{
    width: 100%;
    margin: auto;
    max-width: 1600px;
    padding: 5rem 0;
}

.aux-feature__row{
    width: 100%;
    margin: auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 4rem;
}

.aux-feature__col{
    margin: 1rem 0;
}

.aux-feature__col h4{
    font-size: 1.3rem;
    color: var(--meister-grey900);
    padding-bottom: 1rem;
}

.aux-feature__col .fas{
    color: var(--meister-grey500);
    font-size: 1rem;
    line-height: 150%;
}

.aux-feature__col p{
    color: var(--meister-grey500);
    font-size: 1.1rem;
    line-height: 150%;
}

.aux-feature__col .head-icon{
    font-size: 1.5rem;
    color: var(--meister-grey900);
}

@media(min-width:700px){
    .aux-feature__row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .aux-feature__col{
        margin: 0 1rem ;
    }

    .aux-feature__col h4{
        font-size: 1.2rem;
    }

    .aux-feature__col p{
        font-size: 1rem;
    }

    .aux-feature__col .head-icon{
        font-size: 1.3rem;
    }
}

@media(min-width:1200px){
    .aux-feature__col h4{
        font-size: 1.4rem;
    }

    .aux-feature__col .head-icon{
        font-size: 1.5rem;
    }
        
    .aux-feature__col p{
        font-size: 1rem;
    }
}

.int-platform-contain{
    color: #3d474d;
    line-height: 140%;
    text-align: center;
    font-size: 17px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0;
    width: 100%;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'25\' height=\'25\' viewBox=\'0 0 25 25\'%3E%3Ccircle cx=\'1.5\' cy=\'2.5\' r=\'2\' fill=\'%23D8DADB\' fill-rule=\'evenodd\'/%3E%3C/svg%3E%0A');
    background-repeat: repeat;
}

.int-col{
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    border-radius: 20px;
    padding: 25px;
    justify-content: center;
    width: 10rem;
    margin: 15px;
}

.int-col img{
    width: 40px;
    height: 40px;
}

.int-btn{
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 2rem;
    border-radius: 2.2rem;   
    background-color: #fff;
    color: var(--meister-grey900);
    font-weight: 700;
}

.int-btn:hover{
    box-shadow: 0 5px 10px -5px #0af;
}

.btn-arrow{
    color: var(--meister-blue);
}

@media(min-width:700px){
    .int-btn{
        line-height: 4.5rem;
        height: 4.5rem;
        font-size: 1.5rem;
        padding: 0 2.5rem;
    }
}

.extra-feature__container{
    width: 100%;
    margin: auto;
    max-width: 1600px;
    padding: 5rem 0;
}

.extra-feature__text h4{
    color: rgba(61,71,77,.5);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: normal;
    text-align: left;
    padding: 0 25px;
}

.extra-feature__text h2{
    color: var(--meister-grey900);
    font-weight: 700;
    line-height: 110%;
    font-size: 2.5rem;
    text-align: left;
    padding: 0 25px;
    padding-bottom: 1.6rem;
}

.extra-feature__text p{
    color: rgba(61,71,77,.5);
    letter-spacing: normal;
    text-align: left;
    font-size: 1.3rem;
    padding: 0 25px;
    padding-bottom: 2.5rem;
    margin-bottom: 40px;
    line-height: 150%;
}

@media(min-width:700px){
    .extra-feature__container h4{
        font-size: 2.2rem;
    }

    .extra-feature__container h2{
        font-size: 3.5rem;
    }

    .extra-feature__container p{
        padding-bottom: 1rem;
    }
}

@media(min-width:1200px){
    
    .extra-feature__container h2{
        padding: 0 5rem;
        padding-bottom: 1.5rem;
    }
    .extra-feature__container h4{
        font-size: 2rem;
        padding: 0 5rem;
    }

    .extra-feature__container p{
        padding: 0 5rem;
    }   
}

.extra-tabs-vert{
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start; */
    padding: 0 25px;
    padding-bottom: 2rem;
}

.extra-tabs a.icon {
    display: flex;
    align-items: center;
    border-top: 1px solid #edf1f2;
}

.extra-tabs a {
    line-height: 140%;
    padding: 25px 0;
    font-weight: 500;
}

.extra-tabs h4{
    font-size: 1.26rem;
    font-weight: bolder;
    white-space: nowrap;
}

.extra-tabs img{
    width: 36px;
    height: 36px;
    margin-right: 20px;
}

.extra-tabs a.icon{
    color: #8a9499;
}

.extra-tabs a.icon.active {
    color: #0af;
}

.extra-tabs a.icon img{
    filter: invert(62%) sepia(9%) saturate(277%) hue-rotate(156deg) brightness(91%) contrast(93%);
}

.extra-tabs a.icon.active img{
    filter: invert(46%) sepia(31%) saturate(2845%) hue-rotate(173deg) brightness(103%) contrast(106%);
}

.extra-tabs-contents{
    color: #3d474d;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'25\' height=\'25\' viewBox=\'0 0 25 25\'%3E%3Ccircle cx=\'1.5\' cy=\'2.5\' r=\'2\' fill=\'%23D8DADB\' fill-rule=\'evenodd\'/%3E%3C/svg%3E%0A');
    background-repeat: repeat;
    padding-top: 2rem;
    margin: auto;
    padding: 0 25px;
}

.extra-tabs-contents img{
    margin: 2.5rem 0;
    height: auto;
    width: 100%;
    max-width: 100%;
}

@media(min-width:700px){
    .extra-tabs-vert{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0 25px;
    }

}

@media(min-width:1200px){
    .extra-tabs-contents{
        padding: 0 5rem;
    }
    .extra-tabs-vert{
        padding: 0 5rem;
    }
    .extra-tabs h4{
        padding: 0;
    }
}

.privacy-container{
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 5rem 0;
}

.privacy-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.privacy-content img{
    height: auto;
    width: 100%;
}

.privacy-text__container h4{
    color: rgba(61,71,77,.5);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: normal;
    text-align: left;
    padding: 0 25px;
}

.privacy-text__container h2{
    color: var(--meister-grey900);
    font-weight: 700;
    line-height: 110%;
    font-size: 2.5rem;
    text-align: left;
    padding: 0 25px;
    padding-bottom: 1.6rem;
}

.privacy-text__container p{
    color: rgba(61,71,77,.5);
    letter-spacing: normal;
    text-align: left;
    font-size: 1.3rem;
    padding: 0 25px;
    padding-bottom: 2.5rem;
    margin-bottom: 40px;
    line-height: 150%;
}

@media(min-width:700px){
    .privacy-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .privacy-img{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .privacy-content img{
        max-width: 468px;
    }

    .privacy-content>div{
        width: 50%;
    }
    .privacy-text__container h4{
        font-size: 2.2rem;
    }

    .privacy-text__container h2{
        font-size: 3.5rem;
    }

    .privacy-text__container p{
        padding-bottom: 1rem;
    }

}

@media(min-width:1200px){
    
    .privacy-text__container h2{
        padding: 0 5rem;
        padding-bottom: 1.5rem;
    }
    .privacy-text__container h4{
        font-size: 2rem;
        padding: 0 5rem;
    }

    .privacy-text__container p{
        padding: 0 5rem;
    }   
}

.extra-cta__container{
    width: 100%;
    margin: auto;
    max-width: 1600px;
    padding: 5rem 0;
    background-color: #4070ff;
}

.extra-cta__text h4{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: normal;
    text-align: center;
    padding: 0 25px;
}

.extra-cta__text h2{
    color: #fff;
    font-weight: 800;
    line-height: 110%;
    font-size: 2.5rem;
    text-align: center;
    padding: 0 25px;
    margin-bottom: 2.5rem;
}

.extra-cta{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 0 25px;
    margin-bottom: 2.5rem;
}

.extra-cta-btn{
    font-size: 1.1rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;
    border-radius: 2.2rem;   
    background-color: #fff;
    box-shadow: 0 5px 10px -5px #0af;
    color: #333c40;
    font-weight: 800;
}

@media(min-width:700px){
    .extra-cta__text h4{
        font-size: 2.2rem;
    }

    .extra-cta__text h2{
        font-size: 3.5rem;
    }

    .extra-cta-btn{
        line-height: 4.5rem;
        height: 4.5rem;
        font-size: 1.5rem;
        padding: 0 2.5rem;
    }
}

@media(min-width:1200px){
    .extra-cta__text h4{
        font-size: 2rem;
    } 
}

.row-card{
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 3rem;
    padding: 0 25px;
}

.col-card{
    display: flex;
    flex-flow: column;
    padding: 3.2rem 0;
    max-width: 360px;
    border-radius: 1.3rem;
    background-color: #edf1f2;
    margin-bottom: 2rem;
}

.col-card_bg-style{
    margin-bottom: 50px;
    width: 100%;
    height: 180px;
    background-size: auto 180px;
    background-image: url('../../assets/images/card-1.svg');
    background-position: center center;
}

.col-card_bg-style-2{
    margin-bottom: 50px;
    width: 100%;
    height: 180px;
    background-size: auto 180px;
    background-image: url('../../assets/images/card-2.svg');
    background-position: center center;
}

.col-card_text{
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.col-card_text img{
    align-items: center;
    margin-bottom: 2rem;
    height: auto;
    width: 100%;
}

.col-card_text p{
    text-align: center;
    color: #3d474d;
    margin-bottom: 0.65rem;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 150%;
}

.col-card_text .lite{
    text-align: center;
    color: #8a9499;
    font-weight: 500;
    margin-bottom: 0.9rem;
}

.col-card_text_link{
    color: #0af;
    text-align: center;
    font-weight: 500;
    margin-top: 2.5rem;
}

@media(min-width:700px){
    .row-card{
        display: flex;
        flex-flow: row;
        padding: 0 25px;
    }

    .col-card_text img{
        height: auto;
        width: 200px;
    }

    .col-card{
        margin: 0 1.5rem;
    }
}

@media(min-width:1200px){
    .row-card{
        align-items: center;
        margin-top: 3rem;
        padding: 0 5rem;
    }
}

   